/*
Binder
Author: Clement Valla
Version: 1.0
*/

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Arial', sans-serif;
}

#background-site {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#background-site iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: scroll;
}

#menu {
	position: fixed;
	left: 10px;
	top: 45%;
	user-select: none;
	text-transform: uppercase;
	font-style: oblique;
	letter-spacing: .01em;
	z-index: 10;
	padding: 13px;
	padding-right: 15px;
	line-height: 24px;
	font-size: 10px;
	z-index: 100;
	font-family: 'Arial', sans-serif;
	cursor: move;
	border: 1px dashed yellowgreen;
	box-shadow: orange 5px 5px 0, 6px 6px 0px blue, 12px 12px 0px yellowgreen, 13px 13px 0px blue;
	background-color: blue;
}

#logo {
	display: none;

}

#logo-touch {
	display: none;

}

#binder-clip {
	margin-top: -38px;
	position: fixed;
	margin-left: 80px;
	z-index: 20;
	-ms-transform: rotate(-27deg);
	-webkit-transform: rotate(-27deg);
	transform: rotate(-27deg);
}

#navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation li {
	padding: 0;
	margin: 0;
	width: auto;
}

#navigation a {
	color: white;
	padding: 0;
	text-decoration: none;
	padding: 1px;
}

#navigation a.active,
#navigation .current_page_item a {
	color: orange;
	border-bottom: 1px dashed orange;
}

#navigation a:hover {
	color: yellowgreen;
}


#title {
	font-size: 13px;
	font-style: oblique;
}

#credit {
	font-size: 8px;
	font-family: monospace;
	letter-spacing: -0.2px;
}

.about {
	position: fixed;
	font-family: arial;
	color: blue;
	background: yellowgreen;
	/* box-shadow: blue 3px 3px 0; */
	border: 1px dashed blue;
	padding: 14px;
	letter-spacing: 0.5px;
	font-size: 10px;
	line-height: 12px;
	z-index: 90;
	max-width: 300px;
	left: 10px;
	top: 10px;
	cursor: move;
}

/* @end */